*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: transparent;
  cursor: pointer;

}
body{
  background-image:url('./Assets/svg.svg') ;
}

html{
  overflow: auto;
}


nav{
 
  box-shadow: 3px 3px 5px rgba(93, 164, 245, 0.778);
  /* background-image:url('./Assets/svg.svg') ; */
 

}
nav{
  position: fixed;
 
  width: 100vw;
}
nav ul{

  width:100vw;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(1px);
 
}
nav li{
  height: 50px;
  
}
a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color:white;
  transition: all -0.2s ease;
}

nav a:hover{
  color:rgb(10, 10, 10);
  background: rgba(110, 108, 108, 0.797);
 
}
nav li:first-child{
  margin-right: auto;
}
img{
  width:30px;
}
.sidebar{
  position: fixed; 
  top:0;
  right: 0;
  width:250px;
  margin-top: 0%;
  z-index: 999;
  background-color: #ffffffd7;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  color:black;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width:100%;
  color:black;
}
.menuButton{
  display: none;
}

.main{
  
  padding-left: 5%;
  padding-right: 5%;
  /* background-image: url('./Assets/svg.svg'); */
  height: 100vh;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;

 
}
.main img{
  width: 200px;
 

}

.profile-pic{
  border-radius: 50% 10% 30%;
  border: 4px solid rgb(42, 45, 69);
  box-shadow: 0 1px 10px white;
  
}
.right{
  background-image: url("Assets/mountains-gbae9d3f7f_1280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50% 10% 30%;
}



.left{
  padding: 40px;
  background-color: transparent;
  
}
 p,h1,h2{
  background-color: transparent;
  color: #f7f5fb;
}
 .my{
  display: inline-block;
}
.text{
  font-size: 25px;
  border-right: 2px solid rgb(229, 191, 65);
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(28) infinite, cursor .2s step-end infinite alternate;
}
@keyframes cursor{
50%{border-color: transparent;}
}
@keyframes typing {
  from{
    width:0 ;
  }
  to{
    width: 100%;
  }
}
.btt {
  margin-top: 30px;
  text-decoration: none;
  color:black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 6rem;
  height: 1.8rem;
  background-color: rgb(189, 201, 234);
  padding: 5px;
  box-shadow: 0 1px 10px white;
  transition: .2s ease;
  
}
.btt:hover{
  background-color: rgba(248, 198, 123, 0.617);
  box-shadow: 0px 2px 10px rgba(10, 188, 188, 0.735);
}
.left img{
  width:30px;
  color:white;
}
.circle-icon {
  height: 0px;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px;
}





 .skills{
  margin: auto;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:auto;
  
 
}
.skills h3{
 border-bottom:4px solid rgb(197, 128, 16);
  font-size: large;
  width: 2%;
  text-align: center;
  margin-bottom: 40px;
  transition: .6s ease;
}
.skills h3:hover{
  width: 6%;
}
.skills-list {
  display: flex;
  padding: 10px;
  width: auto;
  flex-wrap: wrap; 
  background-color: #9caae050;
  
}

.skills-list span {
  text-transform: lowercase;
  margin-right: 10px; 
  background-color: rgba(21, 19, 81, 0.781);
  color: rgb(239, 246, 245);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-size: 15px;
} 

/*<--------!-projects-------->*/
.projects{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  background-color: transparent;
  flex-direction: column;
  margin: 20px;
}
.projects h3{
  color:#f3f1f6;
  border-bottom:4px solid rgb(197, 128, 16);
  font-size: large;
  width:auto;
  text-align: center;
  margin-bottom: 40px;
  text-align: center;
  transition: .2s ease;
}
.projects h3:hover{
  border-bottom:5px solid rgb(160, 15, 15);
  color:blanchedalmond;
}
.project{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width:auto;
  height: auto;
  background-color: #9caae050;
  color:white;
  margin: 10px;
  padding: 6px;
  border-radius: 5px;
}
.project p{
  margin-bottom: 2%;
}
.project h4,.p{
  margin-bottom: 2%;
  color:rgb(207, 102, 21);
}
.project a{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project img{
  height:150px;
  width: 200px;
}
.project-list{
  display: flex;
  flex-direction: row;
  
}
a span{
  color:rgb(215, 125, 7);
  border-bottom: 3px solid rgb(171, 171, 184);
  padding: 5px;
  border-radius: 10px;
}

#certificate-list{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#certificate #certificate-fix{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100%/4);
}

.about{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: auto;
  margin-bottom: 0%;
  
}
.personal{
  background-image: url('./Assets/true.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin: 40px 0px;
  padding:30px;
 
}
form{
  display: flex;
  background-color: rgba(251, 251, 252, 0.579);
  justify-content: center;
  flex-direction: column;
  padding:10px;
  border-radius: 10px;
 margin-top: 10px;

}
form input{
  display: flex;
  padding:10px;
  margin: 10px;
  width:20rem;
  color:rgb(12, 11, 11);
border-radius: 10px;
}
form textarea{
  padding:10px;
  margin: 10px;
  display: flex;
  width:20rem;
  height: 150px;
  border-radius: 10px;
}
input:focus,textarea:focus{
  border:4px solid rgb(133, 133, 229);
  box-shadow: 0px 3px 10px blue;
}
form button[type='submit']{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color:white;
  width: 50%;
  height: 35px;
  border-radius: 10px;
  background-color:rgba(0, 0, 255, 0.807);
}
.copy{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.574);
  margin-bottom: 0%;
  width:100vw;
  height: auto;
  text-align: center;
}
.circle-icon img{
  width: 40px;
}
.social li{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0%;
  padding: 5px;
  transition: .3s ease;
}
.social li img:hover{
  transform: scale(1.1);
  border-radius: 50%;
  box-shadow: 0px 5px 20px rgba(234, 234, 247, 0.864);
}

.social  {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  background-color: transparent;
  padding: 2%;
}
.copy p{
  margin-bottom: 0;
}
hr{
  margin-bottom: 10px;
}

/* mobile view */
@media (max-width:800px){
  .project-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    margin: 0%;
    padding: 2%;
  }
  .project{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background-color: #9caae050;
    color:white;
   margin: 10px;
   padding: 0%;
    
  }
  .project img{
    width: 100%;
    height: 150px;
  }
  #certificate-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    margin: 0%;
    padding: 2%;
    margin-left: -60px;
  }
#certificate #certificate-fix{
    display: flex;
    justify-content: center;
    flex-direction: column;
   width: 90vw;
    height: auto;
  
    background-color: #9caae050;
    color:white;
   padding: 0%;
 
}
  a span{
  color:white;
  border-bottom: 2px solid rgb(220, 200, 139);
  margin-bottom: 10px;
}
a span:hover{
  color:beige;
  border-bottom: 2px solid rgb(74, 74, 235);
}

#certificate-fix a{
  height: 20px;
  margin: 0%;
}



#certificate-fix img{
 /* width: 100%; */
 height: 0%;
}

  nav{
    width: 100%;
  }
  .main{
    flex-direction: column;
  }
  .circle-icon img{
    width: 30px;
  }
  
  @keyframes typing {
    from{
      width:0 ;
    }
    to{
      width: 50%;
    }
  }
 
  .left{
    width:100%;
    padding:5px;
    margin: 5%;
    display: flex;
    flex-direction: column;
   
  }
  .sidebar{
    width: 50%;
  }
  .left a{
    padding: 7px;
  }
  .hideOnMobile{
    display:none;
  }
  .menuButton{
    display: block;
  }
  

}